
<h1>Welcome to the {{boardSize * boardSize - 1}}-game app</h1>

<app-game-mode *ngIf="!automation" (boardChange)="onBoardSizeChangeHandler($event)"></app-game-mode>


<section *ngIf="!automation">
  <div class="wrapper" [ngStyle]="{
    'grid-template-columns' : gridColumn ,
    'grid-template-rows' : gridRow
  }">
    <div class="box" [ngStyle]="{'background-color': g.color}"
    *ngFor="let g of game;let i=index"
    (click)="onElementClickHandler(g,i)"
    >
      {{g.value}}
    </div>
  </div>
</section>


<section *ngIf="automation">
  <div class="wrapper" [ngStyle]="{
    'grid-template-columns' : gridColumn ,
    'grid-template-rows' : gridRow
  }"
  *ngFor="let step of steps;let sIndex=index"
  >
    <div class="box" [ngStyle]="{'background-color': s.color}"
    *ngFor="let s of step"
    >
      {{s.value}}
    </div>
    {{'step ' + sIndex}}
  </div>
</section>


<section>
  <p *ngIf="puzzleSolved">Puzzle was solved</p>
  <p *ngIf="!puzzleSolved">Puzzle is not solved! Continue Playing.</p>
</section>

<section>
    <button (click)="onClick()">Restart Game</button>
    <button (click)="onAutomate()">Automate Game</button>
</section>
